.weather {
  width: 100%;
  height: auto;
  color: #fff;
  margin: auto;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.weather-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  margin-top: 2px;
  text-align: center;
}

.temperature {
  font-weight: 600;
  font-size: 70px;
  width: auto;
  letter-spacing: -5px;
  margin: 10px;
}
