.forecast {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px 24px;
  margin-bottom: 20px;
}

.forecast__item {
  width: 100%;
  color: rgba(255, 255, 255);
  border-bottom: 2px solid rgba(255, 255, 255, 0.9);
}

.forecast__item:last-child {
  border-bottom: none;
}

.forecast__item:hover {
  cursor: pointer;
}

.forecast__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  font-size: x-large;
}

.forecast__titleLeft {
  display: flex;
  align-items: center;
  height: 50px;
}

.forecast__Itempanel {
  margin: auto auto 15px auto;
  font-weight: 500;
  animation: fadein 0.5s;
  width: 100%;
}

.forecast__panel {
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
  gap: 8px;
}

.forecast-iconSet {
  display: flex;
  justify-content: space-between;
  width: 100px;
}

.forecast-icon {
  height: 25px;
  filter: invert();
  opacity: 0.5;
  transition: ease-in-out 0.15s;
}

#thermometer:hover,
#wind:hover,
#precipitation:hover {
  opacity: 1;
}

.active {
  opacity: 1;
}

.precipitation-icon {
  height: 60px;
}

.wind-direction {
  height: 32px;
  filter: invert();
  opacity: 0.9;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
